@model IEnumerable<Smartphonev3.Models.DonHang>

@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.trang_thai_don_hang)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.tong_gia)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.ngay_tao_don_hang)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.ngay_cap_nhat_don_hang)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.NguoiDung.ten_dang_nhap)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.trang_thai_don_hang)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.tong_gia)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.ngay_tao_don_hang)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.ngay_cap_nhat_don_hang)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.NguoiDung.ten_dang_nhap)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.don_hang_id }) |
            @Html.ActionLink("Details", "Details", new { id=item.don_hang_id }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.don_hang_id })
        </td>
    </tr>
}

</table>
