@model Smartphonev3.Models.ThongTinNguoiDung

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <h4>ThongTinNguoiDung</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.ten_day_du)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.ten_day_du)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.dia_chi)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.dia_chi)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.so_dien_thoai)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.so_dien_thoai)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.ngay_sinh)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.ngay_sinh)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.NguoiDung.ten_dang_nhap)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.NguoiDung.ten_dang_nhap)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.nguoi_dung_id }) |
    @Html.ActionLink("Back to List", "Index")
</p>
