@model Smartphonev3.Models.ThongBao

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <h4>ThongBao</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.noi_dung)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.noi_dung)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.ngay_gui)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.ngay_gui)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.trang_thai)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.trang_thai)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.NguoiDung.ten_dang_nhap)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.NguoiDung.ten_dang_nhap)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.thong_bao_id }) |
    @Html.ActionLink("Back to List", "Index")
</p>
